.dashboardPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dashboardHeader {
    text-align: center;
    margin-bottom: 20px;
}

.dashboardHeader h2 {
    margin-bottom: 10px;
    color: #333;
}

.dashboardHeader p {
    color: #666;
}

.dashboardLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardButton {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin: 8px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dashboardButton:hover {
    background-color: #0056b3;
}

/* אם נדרש כפתור התנתקות */
.logoutButton {
    background-color: #dc3545;
}

.logoutButton:hover {
    background-color: #c82333;
}

.addReceiptButton {
    position: absolute;
    top: 80px; /* מרחק מלמעלה - מתחת ל-Navigation Bar */
    right: 20px; /* מרחק מצד ימין */
    width: 50px; /* רוחב הכפתור */
    height: 50px; /* גובה הכפתור */
    background-color: orange; /* צבע רקע ירוק  */
    color: white; /* צבע טקסט */
    border: none; /* ללא גבול */
    border-radius: 50%; /* עיגול */
    font-size: 24px; /* גודל הטקסט */
    font-weight: bold; /* טקסט מודגש */
    cursor: pointer; /* סמן כפתור */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* צל */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.addReceiptButton:hover {
    background-color: #ffc107
}
