nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ddd;
}

nav a {
    text-decoration: none;
    color: #333;
    background-color: rgb(148, 189, 189);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #007bff;
    color: white;
}

button {
    padding: 8px 16px;
    font-size: 1em;
    background-color: rgb(119, 196, 240);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2fa6dd;
    color: white;
}

.notifications {
    position: absolute;
    top: 100%; /* מיקום מתחת לכפתור */
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    color: #333;
    font-size: 0.9rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}



.logout-button:hover {
    background-color: #ff4d4d; /* צבע אדום כהה יותר במעבר עכבר */
    color: white;
}

