/* הגדרת רקע לכל המסך */
body {
  background: white;
}

/* עיצוב כללי לטופס */
.formContainer {
  max-width: 600px;
  margin-bottom: 30px; /* רווח של 30 פיקסלים מתחת לטופס */
  padding: 20px;
  background: white;
  /* border: 2px solid; */
  /* border-image: linear-gradient(to right, #4285F4, #EA4335, #FBBC05, #34A853) 1; */
  
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(10, 136, 194, 0.5);
}

/* מסגרת לשדה העלאת הקובץ */
.formContainer input[type="file"] {
  border: 2px solid #007bff; /* כחול */

}

/* עיצוב של כל התוויות והשדות */
.formContainer label,
.formContainer input[type="file"],
.formContainer select,
.formContainer button {
  margin-bottom: 15px;
}

/* עיצוב שדות קלט */
.formContainer input[type="text"],
.formContainer input[type="date"],
.formContainer select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s;
}

/* עיצוב תוויות */
.formContainer label {
  font-weight: bold;
  font-size: 16px;
}

/* עיצוב מסגרות שדות קלט לפי הצבעים המבוקשים */
.formContainer input[name="storeName"] { 
  border: 2px solid #dc3545; /* אדום */

}

.formContainer input[name="productName"] {
  border: 2px solid #ffc107; /* צהוב */
}

.formContainer input[name="price"] {
  border: 2px solid #28a745; /* ירוק */
}

.formContainer select[name="categoryId"] {
  border: 2px solid #007bff; /* כחול */
}

.formContainer input[name="purchaseDate"] {
  border: 2px solid #dc3545; /* אדום */
}

.formContainer input[name="warrantyExpiration"] {
  border: 2px solid #ffc107; /* צהוב */
}

input[name="receiptNumber"] {
  border: 2px solid #28a745; /* ירוק*/
}


/* עיצוב כפתורים מותאם אישית */
.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
}

.cameraButtons {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.captureButton,
.exitButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.captureButton {
  background-color: #007bff; /* כחול */
}

.exitButton {
  background-color: #e53e3e; /* אדום */
}

.captureButton:hover,
.exitButton:hover {
  transform: scale(1.05);
}

.captureButton:active,
.exitButton:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/* עיצוב מסך המצלמה */
.fullscreenCamera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreenVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* עיצוב אזור העלאת קובץ ותזכורת */
.file-upload-section,
.reminder-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* עיצוב של קטע תזכורת */
.reminderSection {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #007bff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

/* עיצוב תווית התזכורת */
.reminderSection label {
  font-weight: bold;
  color: #dc3545;
  font-size: 24px;
  margin: 0;
}

/* עיצוב רשימה נפתחת לתזכורת */
.reminderSection select {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #dc3545;
  background-color: #ffffff;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.photoPreview {
  max-width: 100%; /* הגבלה על רוחב מקסימלי */
  max-height: 100%; /* הגבלה על גובה מקסימלי */
  object-fit: contain; /* מוודא שהמידות נשמרות בתוך המסגרת */
  border-radius: 8px; /* אופציונלי - עיגול פינות */
}

.saveButton {
  background-color: #4caf50; /* צבע ירוק */
  color: white; /* טקסט לבן */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #45a049; /* צבע ירוק כהה יותר במעבר עכבר */
}

.cameraButton {
  background-color: #4285F4; /* צבע כחול */
  color: white; /* טקסט לבן */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cameraButton:hover {
  background-color: #1e88e5; /* צבע כחול כהה יותר במעבר עכבר */
}

.required {
  color: red;
}

.errorInput {
  border: 1px solid red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.spinnerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* רקע חצי שקוף */
  z-index: 9999; /* מציב את זה מעל כל האלמנטים */
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.spinnerText {
  font-size: 1.2rem;
  color: #555; /* צבע הטקסט */
  font-weight: bold;
} 